.dii{
    border: 1px solid black;
    width: 450px;
    

}
.nd{
 display: flex;   
}
.crd{
    width: 80px;
}
#fhh input{
    margin-top: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid green ;
    background-color: transparent;
 
}

#gh{
    border: 1px solid black;
}
